.footerHeading {
    text-align: center;
    margin: 0px;
    padding-top: 1em;
    color: #fff;
    grid-column: 1/3;
}

.footer-links ul {
    list-style-type: none;
}

.footer-link-heading {
    padding-left: 40px;
    align-self: end;
    color: white;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
    line-height: 2.2;
}
.footer-links ul li a:hover{
    text-decoration: underline;
}

.footer-heading {
    padding-left: 40px;
    align-self: end;
    color: white;
    cursor: default;
}

.footer {
    background-color: #213343;
    color: 'white';
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 3em;
}

.moreAction {
    position: absolute;
    top: 50%;
}

.moreAction h3 {
    padding: 10px;
    cursor: pointer;
}

.p-relative {
    position: relative;
}

.footerData {
    grid-template-rows: 100px 1fr;
}

.d-grid {
    display: grid;
}

@media screen and (max-width:600px) {
    .footerHeading {
        grid-column: 1/2;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);
    }

    .hideFooterLinks {
        display: none;
    }

    .footerData {
        grid-template-rows: 80px 1fr;
    }

    .footer-heading {
        text-align: center;
        padding: 0%;
        cursor: pointer;
    }

    .footer-links ul {
        padding: 0%;
        text-align: center;
    }

    .p-5 {
        padding: 0%;
    }
    .moreAction {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        position: static;
        top: 0%;
    }
    .nav-mob ul {
        grid-template-columns: 33.33% 33.33% 33.33%;
        display: grid;
        margin: auto;
        padding: 0%;
        gap: .5em;
    }
}

@media screen and (min-width:600px) and (max-width:1025px) {

    .footerHeading img {
        width: 50%;
    }

    .footerImg {
        place-self: center;
    }

    .article a img {
        width: 200px;
    }

    .d-block {
        display: block;
    }
}